.priceCard{
    width: 100%;
    vertical-align: top;
    padding: 0px 20px;
    margin-top: 30px;
    text-align: center;
    background-color: rgba(192, 189, 189, 0.6);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 12px;
    color: rgb(41, 43, 50);
    font-size: 12px;
    letter-spacing: 0.25px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 235, 251);
    border-image: initial;
    border-radius: 8px;
    margin: 32px 0px 0px; 
    margin-right: 10%;
    z-index:1001;
}

.PriceSection{
    display:flex;
    margin:auto;
    width:max-content;
}
    .priceCard h3{
        font-weight: 900;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 16px 0px 8px;
    }
    .priceCard__Estimate{
        margin: -16px -16px 0px;
        padding: 8px 0px;
        border-radius: 8px;
    }
    .priceCard__Estimate span{
        font-size: 34px;
    }
    .priceCard__Estimate--li{
        padding:0;
        flex-basis: 1;
        width:210px;
        height:96px;
        margin: auto;
    }
    .priceCard__Estimate--li li{
        font-size: 12px;
        letter-spacing: 0.25px;
        color: rgb(41, 43, 50);
        list-style: none;
        margin: 12px 0px;
        height:16px;
        flex-basis: 1;
    }
    .priceCard__Estimate--li p{

        line-height: 16px;
        letter-spacing: 0.25px;
        color:black;
        font-family:  museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
     }
     .priceCard__Estimate--li svg{
        float:left;
        color: rgb(125, 179, 67);
    }

    .priceCard button{
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0.15px;
        width: 400px;
        background-color: rgb(224, 68, 109);
        border-radius: 160px;
        margin: auto;
        border-color: rgba(0, 0, 0, 0);
        border-width: 2px;
        border-style: solid;
        padding: 8px 16px;
    }
    #hidden{
        display:none;
    }

    @media (max-width: 450px){
        .task-details--create .priceCard {
          width:91.5%;
          margin-top:0;
    }
    .priceCard button{
        margin:auto;
        width:73%;
    }
    .task--create .task-details--create .dropDown{
        height: 60px;
    }
    .dropDown .priceCard__Estimate h3 {

        font-size: 10px;
        width: 120px;
    }

    .dropDown .PriceSection span{

        font-size: 20px;
    }
    .dropDown #dropDown-btn{
        font-size: 12px;
        width: 44%;
    }
}

@media (max-width: 710px){
    .dropDown .priceCard__Estimate--li p{
        display:none;
     }
     .dropDown .priceCard__Estimate--li svg{
        display:none;
    }
}

@media (max-width: 600px){
    .priceCard{
        width:93%;
        /* animation-name: none !important; */
    }
    .dropDown .priceCard__Estimate--li svg{
        display:none;
    }
    .dropDown .priceCard__Estimate--li p {
        display:none;
    }
    .priceCard button{
        margin:auto;
        width:70%;
    }
    .priceCard .note{
        margin:auto;
    }
    .task-details--create .dropDown{
        height: 80px;
    }
}

@media (max-width: 750px){
    .dropDown .priceCard__Estimate--li svg{
        left: 40%;
    }
}

@media (max-width: 780px){
    .dropDown .priceCard__Estimate--li svg{
        left: 39%;
    }
}

@media (min-width: 730px){
    .priceCard button{
        margin:auto;
        width:70%;
    }
}

@media (min-width: 992px){
    .priceCard{
        width: 290px;
        position: absolute;
        right: 15px;
        box-sizing: border-box;
        /* top:20px; */
        margin: 32px 0px 0px; 
        margin-right: 10%;
    }
    .dropDown{
        width: 100%;
        right: 15px;
        box-sizing: border-box;
        margin: 32px 0px 0px; 
        margin-right: 10%;
        z-index:1030;
        bottom: 1%;
    }
    .priceCard h3{
        font-weight: 900;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 16px 0px 8px; 
    }
    .priceCard button{
        margin:auto;
    }
    .priceCard__Estimate{
        margin: -16px -16px 0px;
        padding: 8px 0px;
        border-radius: 8px;
    }
    .priceCard__Estimate span{
        font-size: 34px;
        font-weight: 300;
    }
    .priceCard__Estimate--li{
        padding:0;
    }

/* dropDown */
    .priceCard button{
        width: 90%;
    }
    .priceCard__Estimate--li{
        width:202px;
        height:96px;
        margin: 16px 18px 24px;
    }

/* Dropdown attribute.... */
    .dropDown .priceCard__Estimate--li svg{
        margin:auto;
        margin-left:5%;
    }

    .dropDown{
        /* margin-bottom:-10rem; */
        translate: (0px,-10rem);
        bottom: -10rem;
    }
}
@media (min-width: 1200px){

    .task-details--create .dropDown{
        padding:0;
        padding-left:50px;
        padding-right:50px;
    }   
}

@media (min-width: 1300px){
    .task-details--create .dropDown{
        padding:0;
        padding-left:80px;
        padding-right:80px;
    }

    .dropDown #dropDown-btn {
        margin-right: 5%;
    }

    .task-details--create .dropDown .priceCard__Estimate {
        margin-left: 5%;
    }
}

@media (min-width: 1399px){

    .task-details--create .priceCard{
        margin-right:12%;
    }
    .task-details--create .dropDown{
        padding:0;
        padding-left:130px;
        padding-right:130px;
    }
}

@media (min-width: 1500px){

    .task-details--create .priceCard{
        margin-top:5rem;
        margin-right:14%;
    }

    .task-details--create .dropDown{
       
        padding:0;
        padding-left:180px;
        padding-right:180px;
    }

    .dropDown #dropDown-btn {
        
        margin-right: 5%;
    }

    .task-details--create .dropDown .priceCard__Estimate {
        margin-left: 5%;
    }
}

@media (min-width: 1599px){

    .task-details--create .priceCard{
        margin-right:16%;
    }

    .task-details--create .dropDown{
       
        padding:0;
        padding-left:240px;
        padding-right:240px;
    }
}

@media (min-width: 1699px){

    .task-details--create .priceCard{
        margin-right:18.5%;
    }
    .task-details--create .dropDown{
       
        padding:0;
        padding-left:290px;
        padding-right:290px;
    }
}

@media (min-width: 1800px){

    .task-details--create .priceCard{
        margin-right:20.5%;
    }

    .task-details--create .dropDown{
        padding:0;
        padding-left:370px;
        padding-right:370px;
    }

    .dropDown #dropDown-btn {
        
        margin-right: 5%;
    }

    .task-details--create .dropDown .priceCard__Estimate {
        margin-left: 5%;
    }
}

@media (min-width: 1900px){

    .task-details--create .priceCard{
        margin-right:22.5%;
    }
    .task-details--create .dropDown{
        padding:0;
        padding-left:430px;
        padding-right:430px;
    }
}
    .modal__Wrapper{
        display: flex; 
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1003;
        background-color: rgba(108, 109, 109, 0.7);
    }

    .modal__Content{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        max-width: 500px;
        height: auto;
        min-height: 530px;
        max-height: 90%;
        width: 100%;
        border-radius: 10px;
        animation: 0.4s ease 0s 1 normal none running eAJKHT;
        background: rgb(246, 248, 253);
    }
    .screens__Wrapper{
        position: relative;
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        background: rgb(246, 248, 253);
        border-radius: 10px;
    }

    .screens__ProgressBar-page-photos{
        position: absolute;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        top: 0px;
        left: 0px;
        height: 6px;
        width: 100%;
        overflow: hidden;
        background: rgb(246, 248, 253);
    }
    .screens__ProgressBar-page-where:after{
        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(-83.3333%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }

    .screens__ProgressBar-page-when:after{
        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(-66.6667%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }
    .screens__ProgressBar-page-taskerOptions:after{
        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(-50%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }

    .screens__ProgressBar-page-photos:after{
        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(-33.3333%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }

    .screens__ProgressBar-page-anything:after{
        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(-16.6667%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }
    .screens__ProgressBar-page-details:after{

        display: block;
        content: " ";
        height: 6px;
        width: 100%;
        transform: translateX(0%);
        background: rgb(125, 179, 67);
        transition: all 0.8s ease 0s;
    }

    .screens__button{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        align-content: unset;
        -webkit-box-align: center;
        align-items: center;
        align-self: unset;
        flex: 0 1 auto;
        margin: 16px 12px 8px;
        padding: 0px;
        border-radius: 0px;
        border-width: 0px;
        border-color: rgb(41, 43, 50);
    }
    .screens__button svg {
        width:30px;
        height: 30px;
        border-radius: 50%;
        font-display: bold;
        position: absolute;
        top: 29px;
        right: 42px;
        color: white;
        font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    .cross .path{
        color: white;
    }
    #screens__button__button{
        float: right;
        background-color:whitesmoke;
        width: 50px;
        height:50px;
        margin-left: 380px;
    }
    .screens__content{
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        overflow: auto;
    }
    .screens__content__body{
        color: rgb(41, 43, 50);
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden auto;
        padding: 10px 20px;
    }

    .screens__content__body__wrapper{

        display: flex;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .markDown__Wraped{

        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }

    .markdown__Content{
        text-align: center;
        width: 100%;
    }


    .markdown__Content span {
        font-size: 20px;
    }
    .markdown__Content img{
        width: 290px;
        height: 214px;
        margin-top: 50px;
    }
    .markdown__Content .checkBox{
        width:  15px;
        height: 15px;
        border: 3px solid grey;
        display: inline-block;
        float:left;
        padding: 0;
    }
    .markdown__Content p{
        margin: 0px 0px 8px;
    }
    .screens__content__footer{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
        min-height: 60px;
        padding: 0px 20px;
        border-top: 1px solid rgb(246, 248, 253);
    }
    .footer__button__Wrapper{

        max-width: 320px;
        width: 80%;
        margin: 0px auto;
    }

    .footer__button__Wrapper button{
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        width: 100%;
        background-color: rgb(125, 179, 67);
        border-radius: 160px;
        margin: 0px;
        border-color: rgba(0, 0, 0, 0);
        border-width: 2px;
        border-style: solid;
        padding: 8px 16px;
    }
    #page-common{
        display: none;
    }

    #page-where{
        display: none;
    }

    #page-where span{
    float: left;
    }

    #page-where input{
        margin-top: 10px;
        width: 260px;
        height: 40px; 
        float: left;
    }

    #page-when{
        display: none;
        flex-direction: column;
    }

    #page-when .checkBox{
        margin-top: 19px;
    }

    #page-when h3{
        display: inline-block;
        margin-top: 22px;
        margin-left: -250px;
    }

   #page-when span{
    float: left;
   }
   
   #page-when input{
       margin-top: 10px;
       width: 460px;
       height: 40px; 
       float: left;
   }

    #page-taskerOptions{
        display: none;
        flex-direction: column;
    }

    #page-taskerOptions ul {
        list-style: none;
    }
    #page-taskerOptions li {
        padding: 8px;
    }


    #page-taskerOptions .checkBox{
        margin: 0;
    }

    #page-taskerOptions h3 { 
        display: inline-block;
        margin-top: 3px;
        margin-left: -120px;
    }


    #page-photos{
        display: none;
        flex-direction: column;
        padding: 0x 0x 4px;
    }

    #page-photos input{
        height: 100px;
    }

    #page-anything{
        display: none;
        flex-direction: column;
        padding: 0x 0x 4px;
    }

    #page-anything span {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #page-details{
        display: flex;
        flex-direction: column;
        padding: 0x 0x 4px;
    }

    #page-details span{
        font-size: 17px;
        text-align: left;
    } 

    #page-details input {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    /* DropDown Price card attribute....... */

    .dropDown{
        height: 120px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px -4px 12px;
        z-index:1011;
        opacity: 1;
        display: flex;
        align-items: center;
        background: rgb(255, 255, 255);
        background-color: rgba(192, 189, 189, 0.8);
    }

    .dropDown .priceCard__Estimate{
        margin-left:3%;
    }

    .dropDown ul {
        width: 210px;
        height: 96px;
        margin: auto;
    }

    #hidden-link{
        display: none;
    }

    #dropDown-btn{
        width: 40%;
        flex-basis: 1;
        margin:0;
        margin-right: 3%;
    }

