.about{
    margin-top:56px;
    align-items: center;
}
.about__content{
    position: relative;
    margin:0 auto;
    max-width: 1024px;
    box-sizing: border-box;
}
.about__title{
    color: #008fb4;
    letter-spacing: .15px;
    display: block;
    text-align: center;
    margin: 50px 0;
}

.about__column{
    width:49%;
    padding:0 3%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.about h1{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-weight: 700;
}
.about h3{
    padding:0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 300;
}
.about h4{
    font-weight: 500;
}
.about h6{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
/************************************************/

.about__intro{
   background-color: #fff;
   height: 400px;
   background-size: cover;
   color:#fff;
   width: 100%;
   position: relative;
   align-content: center;
}
.about__intro-content{
    max-width: 1024px;
    /* width: 100%;
    /* padding-left: 30px; */
    box-sizing: content-box;
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    left: 10%;
    right: 10%;
    top: 71px;
}
/* write a :before  before content */
.about__intro-content:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.about__intro-content img{
    margin-top: 20px;
}

.about__intro-container{
    vertical-align: middle;
    max-height: 400px;
    display: inline-block;
    font-family: Noto Sans SC;
}
.about__intro-container h1{
    /* font-size: 48px; */
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    /* line-height: 1; */
    display: block;
    /* margin-bottom: 20px; */
    font-weight: normal;
    font-size: 46px;
    line-height: 67px;
}
.about__intro-container h4{
    font-size: 20px;
    margin-bottom: 30px;
    display:block;
}
.attendButton{
    width: 220px;
    margin: auto;
    height: 55px;
    background: radial-gradient(88% 1348% at 10.5% 0%, #FB317D 0%, #FD775C 100%);
    border-radius: 50px;
}

.attendButton p {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/************************************************/
.about__vision{
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    width: 681px;
    text-align: center;
}
.about__vision-content{
    padding-bottom: 50px;
}

.about__vision-content h3{
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.87);
}

.about__vision-content p{
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #646464;
}

.about__vision-content span{
    font-weight: bold;
}

.about__vision-text{
    display: block;
    width: 60%;
    float: right;
    padding: 0 5% 0 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
}

.about .about__advertising{
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    width: 1000px;
    max-width: 900px;
    text-align: center;
}

.about__advertising h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.87);
}

.about__advertising p{
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #646464;
}

.about__quote{
    display: block;
    float: left;
    width: 40%;
}
.about__vision p:first-child{
    margin-top:0;
}
.about__vision-quote p:before{
    content: "";
    display: block;
    background: #bbc2dc;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
}

.about__vision-quote p{
    font-size: 28px;
    text-align: right;
    margin: 0 0 40px;
    line-height: 38px;
    padding-left: 20%;
    padding-right: 10%;
    position: relative;
}
.about__vision-quote p:after{
    content: "";
    display: block;
    background: #bbc2dc;
    width: 100%;
    height: 1px;
    margin-top: 30px;
}
/************************************************/
/* .about__statics:before{
    content:"";
    display: table;
} */
.about__statistics{
    max-width: 1024px;
    margin:0 auto;
}
.about__statistic{
    padding:40px 0 60px;

}
.about__statistic p{
    font-size:18px;
    color:#545a77;
    letter-spacing: .51px;
    font-weight: 300;
}
.about__statistic .about__huge{
    font-size: 55px;
    margin: 35px 0;
    color: #008fb4;
    letter-spacing: 1.57px;
}
.clearfix:before{
    clear: both;
    content:"";
    display: table;
}
.clearfix:after{
    clear: both;
    content:"";
    display: table;
}
/************************************************/
.about__video{
    background-image: linear-gradient(-180deg,#f3f5f6,#cfdbe0);
    padding: 60px 0;
}
.about__video-content{
    background: url("https://via.placeholder.com/1812x996") 50% no-repeat;
    background-size: 614px 504px;
    padding:0 3%;
    box-sizing: border-box;
}
.about__video-title{}

.about__video-content p{
    font-size: 16px;
    text-align: center;
    position: relative;
}
.about__video-container{
    position: relative;
    margin: 40px auto;
    overflow: hidden;
    width: 640px;

}
.about__video-video{
    display:block;
    border-radius:4px;
    width: 640px;
    height: 365px;
    margin: 0 auto;
}
.about__video-control{

}
.about__video-play{
    width: 27px;
    height: 27px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url("https://via.placeholder.com/54") 0 0;
    background-size: 27px 27px;
    outline: none;
    border: none;
    cursor: pointer;
}
.about__video-control .false{
    background: url("https://via.placeholder.com/54") 0 0;
    background-size: 27px 27px;
}
.about__video-link-container {
    margin:0 auto;
    width: 100%;
    text-align: center;
}
.about__video-full-screen{
    width: 27px;
    height: 27px;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url("https://via.placeholder.com/54") 0 0;
    background-size: 27px 27px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

.about__video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    cursor: pointer;
}

/************************************************/
.about__social{
    width: 100%;
    background: #f4f5f7;
    border-top: 1px solid #d1dde2;
    padding: 40px 0;
    margin-bottom: 0;
}
.about__social-content{}
.about__social img{
    width:110px;
}
/************************************************/
.about__faq{}
.about__faq-content{
    padding:60px 0;
}
.about__faq-title{}
.about__column h6{
    font-weight: 900;
    font-size: 20px;
    font-weight: bold;
}
.about__faq a{
    color:#008fb4;
    text-decoration: none;
    cursor: pointer;
}
/************************************************/
@media screen and (max-width:1023px){
    .about{
        width: 100%;
    }
    .about__intro{
        width: 100%;
        height: 500px;
        background-position: 50%;
        background-size: cover;
        color: #fff;
        transition: all 1s linear;
    }

    .about__intro-content{
        margin:0;
    }
    .about__intro-container{
        color: #fff;
    }
    .about__intro-container h4{
        font-size: 18px;
    }
    .about__social-content{
        width: 96%;
        margin: 0 auto;
        text-align: center;
    }
    .about__column{
        width:100%;
    }
}


@media screen and (max-width:780px){
    .about{
        margin-top:30px;
        width:100%;
        font-size: 16px;
        box-sizing: content-box;

    }

    .about__intro{
        width: 100%;
        background-position: 60%;
        background-size: cover;
        height: 500px;
    }
    .about__text{
        float:none;
        width: 100%;
        padding:0 5%;
    }

    .about__quote{
        float:none;
        width:100%;
        margin-top: 30px;
    }
    .about__quote p{
        text-align: center;
        margin:0 auto;
        padding-left: 10%;
    }
    .about__statistic{
        width:100%;
    }
    .about__video-content{
        width:100%;
    }
    .about__video-container{
        width:100%;
    }
    .about__video-video{
        width:100%;
        height: auto;
    }
    .about__social img{
        width: 84px;
    }
}
@media screen and (max-width:320px){
    .about{
        min-width: 320px;
    }
    .about__intro{
        height: 500px;
        /* padding:0 5%; */
    }
}

/************************************************/
/************************************************/
/************************************************/
.about .container{
    max-width: 900px;
    margin: auto;
}


.match-reason__container{
    max-width: 362px;
}

.company-milestone__section{
    padding:29px 0 0 0;
    margin-top: 119px;
    align-items: center;
}

.company-milestone__section h3{
    font-weight: normal;
    font-size: 42px;
    line-height: 61px;
    color: rgba(0, 0, 0, 0.87);
}

.company-milestone__section h4{
    font-family: Noto Sans SC;
    font-size: 22px;
    line-height: 61px;
    font-weight: bold;
    color: #767676;
    text-align: left;
    padding-left: 40px;
    margin: 0px;
}

.company-milestone__section li{
    font-family: Noto Sans SC;
    font-size: 18px;
    line-height: 26px;
    color: #767676;
    list-style-type: none;
    text-align: left;
}
