.modal--accept h1 {
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgb(246, 248, 253);
}

.modal--accept p {
    font-size: 16px;
    text-align: left;
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgb(246, 248, 253);
}
.modal--accept button{
    transition: all .25s ease-in-out;
}
.modal--accept button:hover {
    background-color: #d6ddf7;
}

.modal--accept .button--red:hover {
    background-color: red;
}
