



.switchToSignup{
    border-top: 1px solid rgb(187, 194, 220);
}

.switchToSignup p{
    display: inline-block;
    padding-top: 14px;
}

.login-fotpas{
    position: relative;
    width: 150px;
    margin: 10px auto;
    margin-right: 0;
}

.login-fotpas{
    color:white;
    text-align: right;
    cursor: pointer;
}

.login-btn{
    margin-top: 0.7rem;
}

.SignIn .title-box{
    min-height: 0px;
    line-height: 0;
}

.SignIn .Signup-form-field{
    padding:  0 0 10px;
}

.SignIn .login-fotpas
{
    font-size: 10px ;
}
.SignIn .other-signup-field > span{
    margin: 10px 0;
}

.SignIn .switchToSignup{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.SignIn .switchToSignup p, .SignIn .switchToSignup a{
    padding: 0;
    vertical-align: middle;
}

.SignIn .Signup{
    top:54%;
}
