.completed--modal .icon{
    font-size: 50px;
    color:green;
}

.completed--modal .text--large{
    margin-bottom: 20px!important;
}

/* 
.pop--animation--title{
    animation: pop-up 1s cubic-bezier(.39, .575, .565, 1);
}

.pop--animation--icon{
    animation: pop-up 1.5s cubic-bezier(.39, .575, .565, 1);
}

.pop--animation--p{
    animation: pop-up 2s cubic-bezier(.39, .575, .565, 1);
}

.pop--animation--btn{
    animation: pop-up 2.5s cubic-bezier(.39, .575, .565, 1);
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    70%{
        opacity: 0.5;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */

