.TaskContainer__button--bathrooms {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgba(192, 189, 189, 0.6);
    color:black;
    border: 1px solid light-grey;
    border-radius: 10px;
  }
  
  .TaskContainer__button--bathrooms:hover {
      color: rgb(0, 143, 180)
    }
  
  .TaskContainer__button--bathrooms:active {
    background-color:rgb(0, 143, 180);
    color:white;
  } 

  .TaskContainer__button--bathrooms:focus {
    background-color:rgb(0, 143, 180);
    color:white;
  } 

  #one-click-state,#two-click-state,#three-click-state{
    background-color:rgb(0, 143, 180);
    color:white;
  } 


  @media (max-width: 400px){
    .TaskContainer__button--bathrooms {
      margin:0.1rem;
      transform: scale(0.9);
    }
}