.container--how-it-work {
    max-width: 1280px;
    padding: 5% 0;
    margin: auto;
    margin-top: 20px;
}

.how-it-works-banner {
    font-size: 30px;
    line-height: 1.2;
    color: white;
    text-align: center;
    background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
}

.how-it-works-banner h2 {
    text-shadow: 0 1px 5px rgba(6, 152, 190, .8);
    color: white;
    font-size: 30px;
    font-weight: 100;
}

.how-it-works-banner .button--video{
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.how-it-works-banner .button--video:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.5);
}

.how-it-works-video-btn p {
    font-size: 30px;
}
.how-it-works-banner img{
    width: 100%;
}
.how-it-works-banner .phase img {
    width: auto;
    height: 354px !important;
}

.how-it-works-video-btn {
    background: hsla(0, 0%, 100%, .9);
    font-size: 30px;
    color: #008fb4;
    letter-spacing: .35px;
    border-radius: 75px;
    position: relative;
    width: 460px;
    height: 80px;
    line-height: 80px;
    margin: 70px auto 20px;
    padding: 0 0 0 185px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.how-it-works-video-btn .image-wrapper {
    position: absolute;
    height: 105px;
    width: 145px;
    left: 24px;
    border-radius: 4px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .25s cubic-bezier(.59, -.14, .35, 1.26);
    -o-transition: all .25s cubic-bezier(.59, -.14, .35, 1.26);
    transition: all .25s cubic-bezier(.59, -.14, .35, 1.26);
}

@media screen and (max-width: 780px) {

    .how-it-works-banner .phases {
        flex-wrap: wrap;
    }
    .how-it-works-video-btn{
        width:90%;
        padding:  0 0 0 150px;
    }
    .how-it-works-video-btn p {

        font-size: 15px;
    }
    .feature-decliation{
        display: none;
    }
}
