.payment-history h4 {
    color: #292b32;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.2;
}

.payment-history {
    margin-top: 100px;
}

.payment-history .tabs {
    width: 200px;
    margin: 20px 0;
}

.payment-history label {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    color: #545a77;
}

.payment-history select {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 1px solid #bbc2dc;
    background: url('https://via.placeholder.com/12') right 4px top 40% no-repeat;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 14px;
    padding: 0 12px;
}

.payment-history .filter {
    width: 50%;
}

.payment-history .account_payment_history__NetAmount {
    margin: 10px 0px;
    text-align: center;
}

.payment-history .account_payment_history__NetAmount h4 {
    margin: 0;
    padding: 0;
    color: rgb(0, 143, 180);
    font-size: 22px;
    font-weight: 500;
}

.payment-history .account_payment_history__NetAmountLabel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 300;
    color: #545a77;
}

.payment-history .transaction-results {
    background: #f6f8fd;
    min-height: 100vh;
    padding-top: 10px;
}

.payment-history .transaction-results span {
    font-size: 11px;
    font-style: italic;
    color: #545a77;
}

.payment-history .empty_page {
    padding: 5px 20px;
    text-align: center;
}

.payment-history .empty_page a {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 143, 180);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    padding: 0px;
}

.payment-history .empty_page img {
    max-width: 300px;
}

.payment-history .empty_page p {
    color: rgb(84, 90, 119);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    text-decoration: initial;
    margin: 20px 0px;
    padding: 0px;
}

.payment-history .container {
    max-width: 940px;
    margin: auto;
}

@media screen and (max-width: 780px) {
    .payment-history .container {
        padding: 0 18px;
    }
}
