.service {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(84, 90, 119);
    position: relative;
    cursor: pointer;
    border-radius: 100%;
    margin: 8px auto;
    transition: transform 0.25s ease 0s;
}

.service--container {
    font-size: 12px;
    max-width: 112px;
}


.service--link:hover .service{
    background-color: #008fb4;
    transform: scale(1.05);
}
