.recommendationList {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    align-self: unset;
    background-color: rgb(255, 255, 255);
    width: 280px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(231, 235, 251);
    flex: 0 1 auto;
    flex-direction: column;
    margin: 0 7px 40px;
    margin-right:40px;
}

.recommendationList__profile{
    width: 230px;
    height:65px;
    display:block;
    padding:20px 24px;
    border-bottom:1px solid silver;
}

.recommendationList__profile__content{
    flex: 0 1 auto;
    display:flex;
}

.recommendationList__profile__content--photo{
    background-color: black;
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin:0;
    display:inline-block;
}

.recommendationList__profile__content__info{
    width: 153px;
    height:56px;
    margin: 0px 0px 0px 12px;
}

.recommendationList__profile__content__info >p{
        margin:0;
        display:inline-block;
}

.recommendationList__profile__content__info--name{
    font-size:18px;
}

.recommendationList__profile__content__info--address{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
}

.recommendationList__profile__content__info--ratings span{
    margin-left: 20px;
    font-size:13px;
    margin-top: -2px;
}

.recommendationList__contentBox{
    background-color: white;
    width:210px;
    height:auto;
    padding:24px 30px 24px;
}

.recommendationList:hover{
    transform:translateY(-15px);
    box-shadow: rgba( 0.04,0.04, 0.05, 0.05) 1px 6px 12px;
}

@media (max-width: 600px){
    .recommendationList{
        transform: scale(0.8);
        margin:0;
    }
}

@media (min-width: 1300px){
    .recommendationList__contentBox{
        padding:24px 30px 30px;
    }
}

@media (min-width: 1700px){
    .recommendationList__contentBox{
        padding:24px 30px 35px;
    }
}

@media (min-width: 1800px){
    .recommendationList__contentBox{
        padding:24px 30px 40px;
    }
}

.recommendationList__contentBox__latestReview--content{
    color: rgb(84, 90, 119);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 4px 0px 12px;
    font-weight: 400;
    padding: 0px;
}

.recommendationList__contentBox__badges--title{
    margin: 4px 0px 12px;
}

.recommendationList__contentBox--requestButton{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    width: 100%;
    background-color: rgb(246, 248, 253);
    color: rgb(0, 143, 180);
    border-radius: 160px;
    margin: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 4px 16px;
    border-color: rgb(231, 235, 251);
    margin-top: 28px;
}


