.task--create {
    background-color: transparent;
    height:auto;
    position:relative;
    overflow: hidden;
    margin-bottom: 1%;
}

.task-details--create{
    min-height: 300px;
    position: relative;
    padding-top:20px;
    max-width: 800px;
    margin: auto;
}

.background{
    position : absolute;
    top: 15rem;
    right:5rem;
    z-index:-1;

}


