.task__card{
    display: inline-block;
    vertical-align: top;
    width: 246px;
    height: 282px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
    margin: 10px;
    background: white;
    border-radius: 4px;

    color: #FD745C;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.task__card:hover{
    transform: scale(1.1);
    cursor: pointer;

}

.task__card span{
    font-weight: 400;
    color: rgb(41, 43, 50);
    font-size: 11px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0 0 6px 0;

    display: block;
    border-bottom: 1px solid rgb(246, 248, 253);
}

.task__card--main-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 10px 12px 10px;
}



.task__card h5{
    width: 160px;
    min-height: 40px;
    white-space: pre-line;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(41, 43, 50);
    overflow: hidden;
    margin: 0;
    padding:0;
}

.task__card--rate-container{
    width: calc(100% - 48px);
    margin: 0px 24px;
    padding: 6px 0px;
    border-top: 1px solid rgb(246, 248, 253);
    display: flex;
}
