.careers-page{
    background-color: #f6f8fd;
}
.careers-page .careers-banner{
    position: relative;
    display:block;
    width:100%;
    height:670px;
    background: #292b32;
    background-image: url("https://via.placeholder.com/2880x1356");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.careers-banner-main-container{
    position: absolute;
    width: calc(100% - 32px);
    max-width: 784px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.careers-banner-container{
    width: 100%;
    max-width: 630px;
    height: auto;
}
.careers-banner-container h1{
    color: #fff;
    margin-bottom: 32px;
    text-shadow: 0 2px 8px rgb(0,0,0,.5);
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -.5px;
}

/************************************************/
.careers-videos{
    position: relative;
    display: block;
    margin:0 auto;
    padding:64px 0;
    background: #f6f8fd;
}
.careers-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: calc(100% - 32px);
    height: auto;
}

.careers-video-container{
    position: relative;
    display:flex;
    align-items: center;
    flex-flow:row wrap;
    justify-content: center;
    width:100%;
    height: auto;
    margin-top:64px;
}
/* .careers-video-group{
    width:100%;
    max-width: 378px;
    min-width: 300px;
    margin:0 8px 24px;
}
.careers-video-player{
    height: 200px;
    border-radius: 8px;
    margin-bottom: 24px;
    background: #292b32;
    overflow: hidden;
}
.careers-video-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.careers-video-button:hover{
    transform:translate3d(-50%,-50,0) scale(1.1);

}
.careers-video-container iframe{
    border:none;
    width:100%;
    height:100%;
}
.careers-video-caption{
    display: block;
}
.careers-video-caption h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .15px;
    color: #292b32;
    margin-bottom: 8px;
}
.careers-video-caption h5{
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    letter-spacing:.15px;
    color: #292b32;
    margin:0;
    padding:0;
}
.careers-page .text-center{
    text-align: center;
} */
/************************************************/
.careers-extra{
    background:#fff;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 64px 0;
}
.narrow{
    max-width: 470px;
}

.careers-extra-container{
    margin-top: 24px;
}
.careers-extra-container ul{
    padding:0;
    margin:0;
    list-style: none;
    padding-inline-start: 40px;
}
.careers-extra-container li{
    margin-left:40x;
    margin-bottom: 12px;
}

.careers-extra-container img{
    /* display: inline; */
    fill:#7db343;
    margin:0;
    width:28px;
    height:28px;
    margin-right:12px;
    vertical-align: middle;

}
.careers-extra-container p{
    display: inline;
    margin:0;
    vertical-align: middle;

}
/************************************************/
.careers-listing{
    max-width:985px;
    width: 100%;
    text-align: center;
    margin:64px auto;
}
.careers-listing-jobListingAnchor{
    position: absolute;
    margin-top: -120px;
}
.careers-listing-jobListingHeading{

}
.careers-listing-jobList{
    text-align: left;
}
.careers-listing-jobListingFilter{
    text-align: left;
    margin-left: 12px;
}
.careers-listing-jobListingFilterWrapper{
    display: inline-block;
    margin-bottom: 12px;
    color:rgb(41, 43, 50);
}
.careers-listing .locations{
    margin-left:12px;
}
.careers-listing-jobListingFilterTitle{
    margin-right: 4px;
}
.careers-listing select{
    border:1px solid #bbc2dc;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #fff;
    height:29px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 5px;
    padding: 0 12px;
    min-width: 150px;
    appearance: none;
    background: url("https://via.placeholder.com/8x5") no-repeat right 8px top 50% #fff;
}
.careers-listing-follow{
    font-size: 16px;
    padding: 8px 16px;
    letter-spacing: .2px;
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91),background-color .35s cubic-bezier(.615,.19,.305,.91);
    background-color: #f6f8fd;
    color: #008fb4;
    text-shadow: none!important;
    font-weight: 500;
    border-radius: 200px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41,43,50,.1);
    box-sizing: border-box;
    text-decoration: none;
    margin-right: auto;
    line-height: 1.4;
    margin:32px auto 0;

}
/************************************************/
.careers-values{
    background: #fff;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 64px 0;
}
.careers-page .text-center{
    text-align: center;
}
.careers-values-container{
    position: relative;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 40px 0;
}
.careers-values-group{
    width:calc(20% - 24px);
    min-width: 184px;
    padding:0 12px;
}
.careers-values-icon{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #fff;
    margin: 0 auto 32px;
}
.careers-values-caption h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -.25px;
    color: #292b32;
    margin-bottom: 8px;
}

/************************************************/
/* .careers-page .button-cta{
    line-height: 1.4;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: .05em;
    -webkit-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    -o-transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41,43,50,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #7db343;
} */

.careers-page .button-center{
    position: relative;
    display: inline-block;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
}
.careers-page .button-lrg{
    line-height: 1.4;
    font-size: 18px;
    padding:16px 30px 14px;
    margin-bottom: 4px;
    letter-spacing: .15px;
    text-shadow: 0 1px 4px rgba(0,0,0,.25)
}
.careers-page h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -.35px;
    text-align: center;
    color: #292b32;
    margin-bottom: 32px;
}
.careers-page p{
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    color: #545a77;
    margin-bottom: 24px;
}

.careers-page .regular{
    max-width: 784px;
}
.careers-page .extra-wide{
    max-width: 1184px;
}

/************************************************/

@media screen and (max-width: 780px) {


}
