.skill-title-dd{
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
}

.tag-selector-static-dd{
    font-size: 11px;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    position: relative;
    word-break: break-word;
    font-style: italic;
    background-color: #f6f8fd;font-size: 11px;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    position: relative;
    word-break: break-word;
    font-style: italic;
    background-color: #f6f8fd;
}

.skills-category {
    font-weight: 500;
}

.user-profile-screen .user-profile .skills-section .skills .skills-category .skill-title {
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
}

.user-skills .button-container{
    padding: 20px 0;
}

.tag-selector {
    border: 1px solid #bbc2dc;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 5px 10px;
}

.tag-selector.editable {
    cursor: text;
    border: 1px solid #bbc2dc;
    -webkit-box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    -webkit-animation: shadowFadeIn .125s ease-in-out;
    animation: shadowFadeIn .125s ease-in-out;
    padding: 5px 10px;
    min-height: 43px;
}

.tag-selector input[type=text] {
    min-height: 1px;
    padding: 0;
    width: 5px;
    -webkit-animation: none;
    animation: none;
}

.tag-selector input[type=text], .tag-selector input[type=text]:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.transportation .skill-title {
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
}

.checkbox-selector .checkbox-item {
    border-radius: 2px;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: 5px;
}

.checkbox-selector .checkbox-item input {
    cursor: pointer;
}

.checkbox-item input{
    font-size: 14px;
    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 300;
    border: 1px solid #bbc2dc;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    border-radius: 4px;
    min-height: 40px;
    padding: 14px 12px;
    -webkit-animation: shadowFadeIn .125s ease-in-out;
    animation: shadowFadeIn .125s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-selector .checkbox-item label {
    cursor: pointer;
    margin-left: 5px;
}

.checkbox-item input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 14px;
}
.checkbox-item input[type=checkbox]:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    height: 13px;
    width: 17px;
    background: url(https://via.placeholder.com/17x14) no-repeat;
    top: 0;
    left: -7px;
}

.checkbox-item input[type=checkbox]+label:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    background: #fff;
    border: 1px solid #bbc2dc;
    -webkit-box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,75.3%,.5);
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
