.checkerbox--container{
    position: absolute;
    right: -16.5rem;
    top: 1.5rem;
    width: 250px;
    height: fit-content;
    background-color: #c7c6c63b;
    border: 1px solid transparent;
    z-index: 10000;
    border-radius: 10px;
}

.checkerbox--container--small{
    position: absolute;
    right: -16.5rem;
    top: 1.5rem;
    width: 250px;
    height: fit-content;
    background-color: #c7c6c63b;
    border: 1px solid transparent;
    z-index: 10000;
    border-radius: 10px;
}

.font--bold{
    font-weight: bold;
}

.font--red{
    color: red;
}

.font--lightRed{
    color: lightcoral;
}

.font--skyBlue{
    color: lightskyblue;
}

.font--lightGreen{
    color:lightgreen;
}

.font--green{
    color: green;
}

.font--white{
    color: rgb(240, 238, 238);
    padding: 10px;
}

.checkerbox--container p,
.checkerbox--container--small p{
    margin-left: 0.5rem;
}

.checkerbox--container::after,
.checkerbox--container--small::after{
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: transparent;
    border-right: 1px solid #bbc2dc;
    border-top: 1px solid #bbc2dc;
    transform: rotate(-135deg);
    left: -0.4rem;
    top: 2rem;
}

.alert-0{
    content: "";
    position: absolute;
    height: 10px;
    width: 20%;
    background-color: red;
    animation: alert-grow-0 1s ease-in-out;
    border-radius: 4px 2px 2px 4px;
}

@keyframes alert-grow-0 {
    0%{
        width: 0px;
        background: transparent;
    }
    100%{
        width: 20%;
        background-color: red;
    }
}

.alert-1{
    content: "";
    position: absolute;
    height: 10px;
    width: 40%;
    background-color: lightcoral;
    animation: alert-grow-1 1s ease-in-out;
    border-radius: 4px 2px 2px 4px;
}

@keyframes alert-grow-1 {
    0%{
        width: 20%;
        background: red;
    }
    100%{
        width: 40%;
        background-color: lightcoral;
    }
}

.alert-2{
    content: "";
    position: absolute;
    height: 10px;
    width: 60%;
    background-color: lightskyblue;
    animation: alert-grow-2 1s ease-in-out;
    border-radius: 4px 2px 2px 4px;
}

@keyframes alert-grow-2 {
    0%{
        width: 40%;
        background-color: lightcoral;
    }
    100%{
        width: 60%;
        background-color: lightskyblue;
    }
}

.alert-3{
    content: "";
    position: absolute;
    height: 10px;
    width: 80%;
    background-color: lightgreen;
    animation: alert-grow-3 1s ease-in-out;
    border-radius: 4px 2px 2px 4px;
}

@keyframes alert-grow-3 {
    0%{
        width: 60%;
        background-color: lightskyblue;
    }
    100%{
        width: 80%;
        background-color: lightgreen;
    }
}

.alert-4{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: green;
    animation: alert-grow-4 1s ease-in-out;
    border-radius: 4px 4px 4px 4px;
}

@keyframes alert-grow-4 {
    0%{
        width: 80%;
        background-color: lightgreen;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}

@media screen and (max-width: 900px){
    .checkerbox--container{
        display: none;
    }
    .checkerbox--container--small{
        display: none;
    }
}