.browse-tasks h3 {
    font-size: 24px;
    color: #008fb4;
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.browse-tasks p{
    width: 40%;
    font-weight: 300;
    color: #545a77;
    font-size: 14px;
    margin: 8px auto;
}

.browse-tasks {
    background: white;
    padding: 80px 0 120px;
}

.how-it-works-page .tac{
    font-size: 10px;
    line-height: 1.6;
    color: #c4f0f7;
    white-space: pre-line;
    margin-top: 25px;
    margin-bottom: 120px;
}

.how-it-works-page .shieldpay--section {
    background-image: linear-gradient(-1deg,#6d7172,#292b32);
}
/************************************************/
.how-it-works-page .shieldpay--section ul {
    list-style: none;
    display:flex;
    margin: 60px auto 20px;
    justify-content: space-around;
    color: white;
    align-self: flex-end;
}

.how-it-works-page .shieldpay--section li {
    align-self: flex-end;
}

.how-it-works-page .shieldpay--section ul img {
    width: 43px;
    height: auto;
}

.how-it-works-page .container--how-it-work {
    max-width: 1024px;
}

.how-it-works-page .apps--text-description{
    width: 50%;
    padding: 0 1.5%;
    margin-top: 130px;
}

.how-it-works-page h3 {
    font-size: 24px;
    color: #008fb4;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
/************************************************/


.apps-badges img{
    width: 119px;
    margin: 10px 10px 0 0;
}
/************************************************/
.apps--sections .container--how-it-work{
    padding: 0;
    margin: 0 auto;
}

/************************************************/
.earn-money--section .container--how-it-work{
    padding: 0;
    margin: 0 auto;
}

.how-it-works-page .earn-money--section{
    color:white;
    padding: 80px 0 0 0;
}
.how-it-works-page .earn-money--section h3{
    color:white;
    margin-bottom: 20px;
}
.how-it-works-page .earn-money--section .terms{
    font-size: 10px;
    line-height: 1.6;
    color: #c4f0f7;
    white-space: pre-line;
}
/************************************************/
.shieldpay--section .descriptions, .shieldpay--section .img-container {
    width:50%;
    padding: 0 12px;
    color:white;
}

.shieldpay--section h3 {
    color:white;
}

.shieldpay--section .pay {
    width: 319px;
    height: auto;
}

.shieldpay--section .locker {
    width: 113px;
    height: auto;
    position: absolute;
    bottom: -10px;
    left:-20px;
}

.shieldpay--section .shieldpay-features .img-container {
    height: 40px;
    vertical-align: middle;
}

.shieldpay--section .container--how-it-work {
    max-width: 740px;
    margin: auto;
}

.button--white-xs{
    background-color: #fff;
    color: #008fb4;
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41,43,50,.1);
    line-height: 1.4;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: .05em;
    box-shadow: none;
    font-weight: 500;
    padding: 6px 16px;
    font-size: 14px;
    box-sizing: border-box;
}

.button--green-xs{
    background-color: rgb(125, 179, 67);
    color: white;
    transition: text-shadow .35s cubic-bezier(.615,.19,.305,.91),border .35s cubic-bezier(.615,.19,.305,.91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41,43,50,.1);
    line-height: 1.4;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: .05em;
    box-shadow: none;
    font-weight: 500;
    padding: 6px 16px;
    font-size: 14px;
    box-sizing: border-box;
}

.how-it-works-page .saver_beach{
    width: 202px;
    margin-top: -120px;
}

.wave{
    margin: 40px 0;
    width: 157px;
    text-align: center;
}

.card{
    width: 190px;
}


.worker{
    width: 290px;
}

.width--65{
    width: 65%;
}
.margin-auto{
  margin: auto;
}
.feature-bottom img{
    margin:0  50px;
    height: 100%;
}

.feature-bottom{
    margin-bottom: 180px;
}
.earn-money--section .img-container{
    width: 50%;
}
.earn-money--section .description{
    width: 50%;
}


@media screen and (max-width: 780px) {
    .container--features {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .feature-bottom .card{
        display: none;
    }
    .shieldpay--section .descriptions, .shieldpay--section .img-container{
            width: 100%;
        flex-wrap: wrap;
    }
    .shieldpay--section .img-container--card{
        display: none;
    }
    .earn-money--section .description{
        width: 100%;
    }
    .earn-money--section .container--how-it-work{
        flex-wrap: wrap;
        padding: 0 10px;
    }
    .how-it-works-banner .phase img{
        height: 180px!important;
    }
    .how-it-works-page .shieldpay--section ul{
        display: none
    }

}
