#distance_menu {
        font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
        z-index: 10;
}

.menu-flyout {
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        background: #fff;
        width: 345px;
        -webkit-box-shadow: 0 5px 6px rgba(42, 44, 45, .2);
        box-shadow: 0 5px 6px rgba(42, 44, 45, .2);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: fadeInFromBelow .15s ease-out;
        animation: fadeInFromBelow .15s ease-out;
        border: 1px solid #bbc2dc;
        border-radius: 4px;
        z-index: 4;
}

.menu-flyout__confirm, .menu-flyout__inner--padded {
        padding: 16px;
}

.menu-flyout__title:first-child {
        margin-top: 8px;
}

.menu-flyout__title {
        margin: 24px 0 16px;
        text-transform: uppercase;
        font-size: 11px;
        color: #545a77;
        letter-spacing: .8px;
        line-height: 16px;
        font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.option-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 8px 0;
}

.option-group__button {
        cursor: pointer;
        color: #008fb4;
        fill: #008fb4;
        font-size: 14px;
        font-weight: 700;
        -webkit-box-align: top;
        -ms-flex-align: top;
        align-items: top;
        display: inline-block;
        width: 100px;
        min-height: 48px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #e7ebfb;
        margin-right: 8px;
        outline: none;
        -webkit-transition: background-color .1s ease, color .1s ease, fill .1s ease, -webkit-box-shadow .1s ease;
        transition: background-color .1s ease, color .1s ease, fill .1s ease, -webkit-box-shadow .1s ease;
        -o-transition: background-color .1s ease, color .1s ease, fill .1s ease, box-shadow .1s ease;
        transition: background-color .1s ease, color .1s ease, fill .1s ease, box-shadow .1s ease;
        transition: background-color .1s ease, color .1s ease, fill .1s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease;
        line-height: 1.38;
}

.option-group__button:last-child {
        margin-right: 0;
}

.option-group__button--selected {
        background-color: #008fb4;
        color: #fff;
        fill: #fff;
}

.option-group__button--selected, .option-group__button:hover {
        -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .2);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.menu-flyout__title {
        margin: 24px 0 16px;
        text-transform: uppercase;
        font-size: 11px;
        color: #545a77;
        letter-spacing: .8px;
        line-height: 16px;
}

.menu-flyout__cancel, .menu-flyout__title {
        color: #545a77;
        font-weight: 700;
}

.location-typeahead {
        position: relative;
}

.menu-flyout .typeahead {
        z-index: 4;
}

.typeahead, .typeahead__search {
        position: relative;
}

.typeahead {
        vertical-align: middle;
        max-width: 450px;
        margin: 0 auto;
        height: 40px;
}

.menu-flyout__slider-label {
        color: #292b32;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
}

.slider--enabled {
        cursor: pointer;
}

.slider {
        min-width: 150px;
        padding: 12px;
}

.menu-flyout .slider {
        z-index: 1;
}

.slider__railing {
        position: relative;
        background-color: #f6f8fd;
        height: 4px;
        padding: 0 24px;
        border-radius: 5px;
}

.menu-flyout__confirm {
        border-top: 1px solid #f6f8fd;
}

.menu-flyout__confirm, .menu-flyout__inner--padded {
        padding: 16px;
}

.menu-flyout__cancel {
        background: transparent;
        border: 0;
        height: 38px;
        opacity: 1;
        -webkit-transition: opacity .1s ease;
        -o-transition: opacity .1s ease;
        transition: opacity .1s ease;
        outline: none;
        font-size: 14px;
        letter-spacing: .4px;
}

.menu-flyout__apply, .menu-flyout__cancel {
        cursor: pointer;
        margin: 0;
        height: 36px;
}

.menu-flyout__apply {
        width: 112px;
        float: right;
}

.button-sml {
        font-size: 14px;
        letter-spacing: .25px;
        line-height: 20px;
        padding: 6px 16px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.menu-flyout__apply, .menu-flyout__cancel {
        cursor: pointer;
        margin: 0;
}

.button-cta:last-of-type, .button-success:last-of-type {
        margin-right: 0;
}

.button-cta, .button-success {
        line-height: 1.4;
        border-radius: 200px;
        display: inline-block;
        letter-spacing: .05em;
        -webkit-transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
        -o-transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
        transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: 2px solid rgba(41, 43, 50, .1);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        background-color: #7db343;
}

.menu-flyout:before {
        border-color: transparent transparent #bbc2dc;
        border-width: 9px;
        margin-left: -9px;
}

.menu-flyout:after {
        border-color: transparent transparent #fff;
        border-width: 8px;
        margin-left: -8px;
}

.menu-flyout:after, .menu-flyout:before {
        bottom: 100%;
        left: 24px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

.TextInput__Wrapper-sc-13sxlj7-0 {
        width: 100%;
}

.hiLswX{
        width: 100%;
}

.slider__thumb{
        left: calc(66.6667% - 12px);
        background-color: #fff;
        border: 2px solid #bbc2dc;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        height: 24px;
        width: 24px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
        -webkit-transition: border-color .1s ease;
        -o-transition: border-color .1s ease;
        transition: border-color .1s ease;
        pointer-events: none;
}
.ant{
        height: 10px;
        width: 100%;
        background-color: grey;
}
.rc-slider-track{
        background-color: #008fb4!important;
}