a {
    font-size: 14px;
}

.home {
    margin-top: 50px;
}

.home-page .container--banner {
    max-height: 768px;
    overflow: hidden;
}

.container--banner {
    position: relative;

}

.container--banner > div {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 0;
    width: 30%;
    text-align: center;
    transform: translateY(-40%);

}

.container--banner h1 {
    color: white;
    font-size: 36px;
    font-weight: 400;
}

.container--banner p {
    font-size: 34px;
    font-weight: 300;
    color: white;
}
.home .join__card-steps{
    margin-top: 62px;
}
.home .join__card{
    width: 604px;
    padding: 20px 52px 35px 52px;
    background: radial-gradient(105.85% 111.49% at -2.74% 0%, #FB337C 0%, #FD755D 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color:white;
}

.home .join__card > p{
    margin-top: 18px;
}
.home .join__card h2{
    color:white;
}

.home .event__card > p{
    margin-top: 30px;
    margin-bottom: 95px;
}

.home .event__card > a{
    color: #0C8CD5;
}



.container--home {
    padding: 48px 8px 16px;
    max-width: 940px;
    margin: auto;
}

.button--space-xs {
    margin: 16px 0;
}

.background--grey {
    background-color: #f6f8fd;
}


/*.how-it-works img{*/
/*width: 100px;*/
/*height: 100px!important;*/
/*}*/

.home h3, .home p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.home h4 {
    font-size: 22px;
}

.home-page .how-it-works {
    margin: 20px 0;
    padding: 0 0 25px 0;
}

.v-t-34 {
    margin: 34px 0 0 0;
}

.btn--play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    /*background-size: contain;*/
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFeJaNxibtB7kL3Oj6z4vHP7BhHcxi3GRfNE0TxLezPfMN5kuU&s');
    background-color: rgb(0, 143, 180);
    cursor: pointer;
    text-indent: -99999px;

    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px 0px;*/
    border-radius: 100%;
    /*background-position: 50% center;*/
    /*background-repeat: no-repeat;*/
    transition: all 0.25s ease-out 0s;
    transform-origin: top left;
}

.btn--play:hover {
    transform: scale(1.5) translate(-50%, -50%);
}

.home-how-it-works--header {
    margin: 8px auto 24px auto;
}

.home svg path {
    color: white;
    fill: white;
}

.home__video {
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 50%;
}

.service--link {
    color: #1d1d1d;
}

.service--link:active {
    color: #008fb4;
}

.container--home-animation {
    height: 325px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 25px auto 0 auto;
}
.task__card--main-container .location{
    font-size: 20px;
    margin-right: 7px;
}
.task__card--main-container svg path{

    fill:#C4C4C4!important;
}

.container--browse-button {
    padding-bottom: 30px;
    text-align: center;
}

.inner-container--home-animation {
    display: flex;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
}

.inner-container--home-animation:hover {
    animation-play-state: paused;
}

.animation--scroll-infinite {
    -webkit-animation: slide 200s linear infinite;
    animation: slide 200s linear infinite;
    white-space: nowrap;
}

.animation--scroll-infinite--revert {
    -webkit-animation: slide-revert 200s linear infinite;
    animation: slide-revert 200s linear infinite;
    white-space: nowrap;
}
.home-map{

    height: 250px;
}

.float--left {
    float: left;
}

.position-1 {
    top: -10px;
    left: -50px;
}

.position-2 {
    top: 250px;
    left: 30px;
}

.position-3 {
    top: 550px;
    left: -150px;
}

.position-4 {
    top: 125px;
    left: 200px;
    z-index: -1;
}


.position-5 {
    top: 10px;
    right: 70px;
}


.position-6 {
    top: 350px;
    right: -10px;
}


.position-7 {
    top: 140px;
    right: -80px;
}

.color--grey .Hexagon {
    background: #e4e4e4 !important;
}

.color--grey .Hexagon:before {
    border-bottom-color: #e4e4e4 !important;
}

.color--grey .Hexagon:after {
    border-top-color: #e4e4e4 !important;
}

.slider--section{
    padding:  0 0 50px 0;
}


.header__btn{
    margin-top: 50px;
}

@keyframes slide {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        -webkit-transform: translate3d(-1920px, 0, 0);
        transform: translate3d(-1920px, 0, 0)
    }
}

@keyframes slide-revert {
    0% {
        -webkit-transform: translate3d(-1920px,0,0);
        transform: translate3d(-1920px,0,0);
    }

    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }


}

.cookie-alert {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #C7C7C7;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    z-index: 9999;
    width: 100%;
}

.cookie-alert__container {
    max-width: 70%;
    margin: auto;
}

.cookie-alert__label {
    font-size: 16px;
    margin-right: 0%;
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    text-align: justify;
    color: white;
    margin-bottom: 0;
    padding: 0;
}

.cookie-alert__button {
    color: #fff;
    font-weight: 400;
    background: radial-gradient(88% 1348% at 10.5% 0,#fb317d 0,#fd775c 100%);
    transition: all .5s ease-in-out;
    padding: 5px 23px;
    margin-left: 5%;
    border-radius: 4px;

    display: inline-block;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.padding--50 {
    padding: 50px 0 0 0;
}

.home .banner-bg-img{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.home .event__card{
    width: 30%;
    margin-left:73px;
}

@media screen and (max-width: 1024px) {
    .container--banner h1 {
        font-size: 25px;
    }

    .cookie-alert {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 780px) {
    .container--footer span {
        font-size: 12px;
    }

    .container--banner > div {
        top: 30%;
    }

    .Hexagon--lg {
        background: radial-gradient(88% 1348% at 10.5% 0%, #FB317D 0%, #FD775C 100%);
    }

    .Hexagon--lg:before {
        border-bottom-color: rgb(230, 230, 230);
    }

    .Hexagon--lg:after {
        border-top-color: rgb(230, 230, 230);
    }

    .Hexagon--xs {
        background: rgb(230, 230, 230);
    }

    .Hexagon--xs:before {
        border-bottom-color: rgb(230, 230, 230);
    }

    .Hexagon--xs:after {
        border-top-color: rgb(230, 230, 230);
    }

    .home-page .how-it-works > div {
        width: 100%;
    }


    .service--container {
        max-width: unset;
        display: flex;
    }

    .service {
        width: 64px !important;
        height: 64px !important;

    }

    .home .banner-bg {
        height: 300px;
        width: auto;
    }

    .home h2 {
        font-size: 14px;
        font-weight: 700;
    }

    .home h4 {
        font-size: 18px;
    }

    .container--banner > div {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;

    }

    .home__video {
        top: 0;
        width: 85%;
        transform: translate(-50%, 0);
    }

    .home-page .how-it-works {
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0;
        text-align: center;
        justify-content: center;
    }

    .home-page .how-it-works {
        flex-wrap: wrap;
    }

    .home-page .v-t-34 {
        flex-wrap: wrap;
    }

    .home-page .thing {
        flex-wrap: wrap;
    }

    .home-page .home-thing-content {
        width: 100%;
    }


    .container--banner h1 {
        font-size: 20px;
    }

    .home-how-it-works--header {
        width: 90%;
    }

    .cookie-alert__label {
        width: 95%;
    }

    .cookie-alert__button {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin: 0;
    }
}

.container--banner .wave-efect {
    position: absolute;
    left: 0;
    right: 0;
    top: 90%;
    margin: auto;
    height: 150px;
    overflow: hidden;
    width: 100%;
}

.wave-efect .homewave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../img/wave.png);
    background-size: 1000px 100px;
}

.wave-efect .wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 0.1;
    animation-delay: 0s;
    bottom: 0;
}

.wave-efect .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 10px;
}

.wave-efect .wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.6;
    animation-delay: -2s;
    bottom: 15;
}

.wave-efect .wave4 {
    animation: animate2 25s linear infinite;
    z-index: 997;
    opacity: 0.6;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    background-color: #F5F5F5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background:radial-gradient(68.09% 14405.88% at 10.56% 49.5%, #FB317D 0%, #FD745C 100%);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

