
.job-block-jobWrapper{
    width:312px;
    text-align: left;
    height: 180px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border:1px solid rgb(187,194,220);
    border-radius:6px;
    padding:24px;
    margin:8px;
}
.job-block-jobTitle{
    font-weight: 500;
    font-size: 16px;
    color: rgba(41,43,50);
    letter-spacing: .15px;
    line-height: 22px;
    margin-bottom: 4px;
}
.job-block-jobLocation{
    font-weight: 500;
    font-size: 12px;
    color:rgb(84,90,119);
    letter-spacing: .13px;
    display: block;
    line-height: 14px;
}
.job-block-jobLocation svg{
    vertical-align: bottom;
    fill:rgb(84,90,119);
    height:14;
    width:14;
}
.job-block-jobButtonWrapper{
    position: absolute; 
    bottom: 24px;
    left: 24px;
    right: 24px;
}
.job-block-applyNowButton{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    background-color: rgb(125, 179, 67);
    border-radius: 160px;
    margin: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
}
.job-block-readMoreButton{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    background-color: rgb(246, 248, 253);
    color: rgb(0, 143, 180);
    border-radius: 160px;
    margin: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
    border-color: rgb(231, 235, 251);
    margin-left: 8px;
}