.img--logo {
    width: auto;
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    color: #545a77;
    padding: 0 0 0 15px;
    font-weight:300;
    margin: 0;

}
.button-xs{
    text-decoration: none;
}

.button-xs--outline{
    background: transparent!important;
    border: 1px solid #FFFFFF;
}
nav ul li:hover{
    color: #FD745C;
    border-top:2px solid#FD745C;
    cursor: pointer;
    box-sizing: content-box;
}
nav ul li {
    padding: 20px 10px;
    font-size: 13px;
    box-sizing: content-box;
    border-top:2px solid transparent;
}
nav ul li a{
    padding: 20px 10px;
}

header {
    display: flex;
    -webkit-transition: .4s 0ms;
    -o-transition: .4s 0ms;
    transition: .4s 0ms;
    background: white;
    border-bottom: 1px solid #ccc;
    left: 0;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 1003;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    font-weight: 500;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    display: flex;
    padding-left: 22px;

}

.menu-user {
    align-items: center;
    display: flex;
}

.menu-user a {
    margin: 0 10px;
}

.header-container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 90%;
}

header a {
    color: #FD745C;
}

header{
    font-size: 13px;
}

.browser-task{
 text-decoration: none;
}

.nav-avatar-img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #bbc2dc;
    border-radius: 50%;
    padding: 0;
    width: 35px;
}

.nav-avatar-img:hover{
    cursor: pointer;
}

.header-mobile-menu{
    display: none;
}
.menu--mobile{
    display: none;
}

.notification{
    position: fixed;
    top: 63px;
    background: red;
    width: 100%;
    text-align: center;
    z-index: 9999;
    font-weight: 900;
    color: black;
}

@media screen and (max-width: 780px) {
    .menu--mobile{
        display: block;
    }
    .menu--mobile a{
        margin-left: 10px;
    }
    .header-mobile-menu {
        display: inline-block;
    }
    .menu,.menu-user > a{
        display: none;
    }
    .header-container{
        padding: 0 15px;
    }
    .img--logo{
        vertical-align: middle;
    }
    header .menu-folder{
        left:0;
        width: 100%!important;
        top: 40px!important;
    }
    .menu-user{
        position: unset;
    }
    .menu-container{
        justify-content: flex-end;
    }
    .container--home{
        padding: 48px 16px 16px!important;
    }
}
