header .menu-folder{
    position: absolute;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    font-size: 12px;
    right: 0;
    top: 45px;
    width: 220px;
    z-index: 10;
    max-height: calc(100vh - 70px);
    margin-top: 10px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
}
header .menu-folder .double-line .sub-label{
    color: #9b9b9b;
    font-size: 10px;
}
header .menu-folder a{
    display: block;
    padding: 15px 0 15px 15px;
    margin: 0;
    line-height: 14px;
    background: #fff;
    color: #545a77;
    border-bottom: 1px solid #f6f8fd;
    position: relative;
    font-weight: 300;
    font-size: 12px;
}
header .menu-folder a:hover{
    color: #292b32;
    background: #f6f8fd;
}

header .main-label{
    font-weight: 500;
}

header .menu-folder-items {
    width: 100%;
}

header .menu-folder::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 5px 5px;
    top: -6px;
    right: 14px;
    z-index: 12;
}