.container--form {
    margin: 20px 0;
}

.modal--offer h1 {
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgb(246, 248, 253);
}

.modal--offer p {
    font-size: 16px;
    text-align: left;
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgb(246, 248, 253);
}

.completed--modal h1 {
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgb(246, 248, 253);

}

.completed--modal .text--large {
    font-size: 24px;
    color: rgb(41, 43, 50);
    border-bottom: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.completed--modal .text--small {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;

}
