.attachment-input-holder {
    margin: 10px 0;
}

.attachment-input-holder .attachment-input {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.attachmentPic {
    background-color: transparent;
    width: 80px;
    height: 80px;
    box-sizing: content-box;
    padding: 8px;
}
