.rate {
    letter-spacing: 4px;
    color: #FF9C00;
    position: relative;
    font-family: sans-serif;
    display: inline-flex;
    line-height: 1;
    font-size: 12px;
}

#MarkScore{
    line-height: 1;
    margin: 0px;
    color: black;
}

.rate__bg {
    position: relative;
}

.bg__realrate {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: width .5s;
}
