.my-tagLine {
    width: 35%;
    float: right;
}

.my-tagLine p {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    color: #bbc2dc;
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    color: #bbc2dc;
    margin-top: 0;
}

.my-description {
    width: 65%;
    float: left;
    position: relative;
    overflow: hidden;
}

.my-description .description-more {
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 0;
    padding-right: 20px;
}

.editingDescription {
    float: none;
    width: 100%;
}

.anchovy-form .anchovy-form-item {
    margin: 0 0 15px;
}

.anchovy-form-item textarea {
    resize: both;
    width: 100%;
    min-height: 155px;
}

.anchovy-form-item label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.splitter-section-content{
    position: relative;
    margin: 0 20px;
}