.phase h4{
    font-size: 16px;
}
.phase{
    padding: 9% 1.5% 6%;
    margin-bottom: 100px;
}

.phase p{
    font-size: 14px;
    color: #a2e9f8;
}


.phase img{
    position: relative;
}

.phase span:first-of-type{
    background: url("https://via.placeholder.com/55") no-repeat;
    position: absolute;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 50px 50px;
    animation: bubbleAnimation .4s both;
    animation-delay: 1.1s;
    margin-left: -8.5rem;
    margin-top: -19rem;
}

.phase span:nth-of-type(2){
    background: url("https://via.placeholder.com/55") no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 50px 50px;
    animation: bubbleAnimation .4s both;
    animation-delay: 1.6s;
    position: absolute;
    margin-left: -7rem;
    margin-top: -24rem;
}

.phase span:nth-of-type(3){
    background: url("https://via.placeholder.com/55") no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 50px 50px;
    animation: bubbleAnimation .4s both;
    animation-delay: 2.1s;
    position: absolute;
    margin-left: -2rem;
    margin-top: -27rem;
}

.phase span:nth-of-type(4){
    background: url("https://via.placeholder.com/55") no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 50px 50px;
    animation: bubbleAnimation .4s both;
    animation-delay: .6s;
    position: absolute;
    margin-left: -6.5rem;
    margin-top: -14rem;
}

.phase span:nth-of-type(5){
    background: url("https://via.placeholder.com/55") no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    background-size: 50px 50px;
    animation: bubbleAnimation .4s both;
    animation-delay: 2.6s;
    position: absolute;
    margin-left: 3rem;
    margin-top: -24rem;
}

@keyframes bubbleAnimation{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.bubble{

    height: 50px;
    width: 50px;

}

