.new-task-list-item {
        box-shadow: 0 1px rgba(187, 194, 220, 6);
        display: block;
        padding: 0 12px 0 12px;
        background: #fff;
        position: relative;
        border-radius: 4px;
        margin: 10px 7px 10px 0;
        cursor: pointer;
        border: 1px solid transparent;
        min-height: 100px;
        -webkit-box-shadow: 0 1px rgba(187, 194, 220, .6);
        transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
}

.new-task-list-item:hover {
        opacity: 1;
        box-shadow: 3px 5px 8px rgba(187, 194, 220, 6);
        text-decoration: none;
}

.new-task-list-item:before {
        background-color: #7db343;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        display: block;
        position: absolute;
}

.new-task-list-item_header {
        display: flex;
        margin: 10px 0 5px;
}

.new-task-list-item_header h3 {
        flex-grow: 1;
        font-size: 17px;
        line-height: 20px;
}

.new-task-list-item_title {
        font-weight: 300;
        -webkit-box-flex: 1;
        flex-grow: 1;
        font-size: 18px;
        line-height: 20px;
        color: #292b32;
}

.new-task-list-item_price {
        font-weight: 500;
        float: right;
        font-size: 24px;
        margin-left: 10px;
        line-height: 24px;
        color: #292b32;
}

.new-task-list-item_body {
        margin: 5px 0 10px;
        min-height: 34px;
}

.new-task-list-item_body img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin: 0 auto;
}

.new-task-list-item_body .User-avator{
        margin-left: auto;
}

.new-task-list-item__detail {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
}

.new-task-list-item__location {
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-size: 12px;
        color: #545a77;
}

.new-task-list-item__date {
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        font-size: 12px;
        color: #545a77;
}

.new-task-list-item__footer {
        height: 32px;
        font-size: 11px;
        line-height: 32px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-top: 1px solid #e7ebfb;
}

.new-task-list-item--open {
        color: #7db343;
}

.new-task-list-item--complete:before{
        background-color: #008fb4;
}

.new-task-list-item__avatar {
        float: right;
}

.new-task-list-item__status {
        font-weight: 700;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
}

.new-task-list-item__bids, .new-task-list-item__workers {
        margin-left: 10px;
        position: relative;
        color: #545a77;
}

.new-task-list-item__bids:before, .new-task-list-item__workers:before {
        content: " ";
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #545a77;
        border-radius: 50%;
        left: -6px;
        top: 50%;
        margin-top: -1px;
}
