.TaskContainer__button--cleanTimes {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: rgba(192, 189, 189, 0.6);
    color:black;
    border: 1px solid light-grey;
    border-radius: 10px;
  }
  
  .TaskContainer__button--cleanTimes:hover {
      color: rgb(0, 143, 180)
    }
  
    .TaskContainer__button--cleanTimes:active {
    background-color:rgb(0, 143, 180);
    color:white;
  }

  .TaskContainer__button--cleanTimes:focus {
    background-color:rgb(0, 143, 180);
    color:white;
  }

  #once-click-state, #regular-basis-click-state{
    background-color:rgb(0, 143, 180);
    color:white;
  }

  @media (max-width: 400px){
    .TaskContainer__button--cleanTimes {
      transform: scale(0.9);
      margin-right:0;
    }
}
