.page-not-found {
    position: relative;
    background-color: #fff;
    min-height: 90vh;
    background: url('https://kitmanimage.s3.ap-southeast-2.amazonaws.com/bg-1.jpg') ;
    background-size: 100% 100%;
    background-position: 30% 0%;
    align-self: center;
    display: flex;
}

.panel-page-not-found {
    margin: auto;
    border-radius: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;

    /*height: -moz-fit-content;*/
    /*height: -webkit-fit-content;*/
    /*height: fit-content;*/
    /*position: absolute;*/
}

.page-not-found h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #3a4048;
    font-size: 100px;
}

.page-not-found p {
    font-size: 17px;
    font-weight: 200;
}
.page-not-found .browse-button:hover .arrow{
    left:10px;
}
.browse-button {
    margin: 30px 0;
    font-size: 12px;
    font-weight: 300;
    transition: all .5s ease-in-out;
    position: relative;
}

.button-cta:last-of-type:first-of-type, .button-success:last-of-type:first-of-type {
    margin-right: auto;
}

.button-med {
    line-height: 1.6rem;
    font-size: 18px;
    padding: 8px 20px 8px 40px;
    text-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
    position: relative;
}

.button-cta {
    border-radius: 200px;
    display: inline-block;
    letter-spacing: 0.05em;
    transition: text-shadow .35s cubic-bezier(.615, .19, .305, .91), border .35s cubic-bezier(.615, .19, .305, .91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41, 43, 50, 0.1);
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    font-weight: 200;
    background-color: #7db343;
}


.bg-et-1 {
    position: absolute;
    bottom: 150px;
    left: 50px;
    width: 200px;
}
.page-not-found .arrow {
    position: absolute;
    left:20px;
    top:11px;
    transition: all .5s ease-in-out;
}


.animation-bounce--404{
    -webkit-animation: movebounce 3s linear infinite;
    animation: movebounce 3s linear infinite;
}
@-webkit-keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1.50rem);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1.50rem);
    }
    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 768px) {
    .animation-bounce--404{
        display: none;
    }
    .page-not-found{
        background:none;
    }
}

@media screen and (max-height: 500px) {
    .page-not-found h1{
        padding-top: 3.5rem;
    }
}
