.socialMedia {
    position: relative;
    top: -5px;
    margin-bottom: 4px;
}

.socialMedia li {
    list-style-type: none;
    margin: 10px 30px 10px 10px;
}

.flex {
    display: flex;
}

.justifySpaceEven {
    justify-content: space-evenly;
}

.justifySpaceAround {
    justify-content: space-around;
}

.task__share__ShareContainer {
    margin-top: 20px;
    border: 1px solid rgb(231, 235, 251);
    border-image: initial;
    border-radius: 6px;
}

.task__share__TextBackground {
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: inline-block;
    position: relative;
    top: -10px;
    margin-left: 35%;
    /* border: 1px solid black; */
    text-align: center;
}

.Text__StyledTypographyComponent {
    color: rgb(84, 90, 119);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: initial;
    text-transform: uppercase;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0;
    padding: 3px;
}

.task__share__ShareContainer path {
    transition: all .25s ease-in-out;
}

.fb--hover svg:hover path {
    fill: rgb(24, 119, 242);
}

.twitter--hover svg:hover path {
    fill: rgb(85, 172, 238);
}

.linkedin--hover svg:hover path {
    fill: rgb(0, 119, 181);
}

.ig--hover svg:hover path {
    fill: rgb(41, 43, 50);
}
