.modal__Wrapper{

    display: flex; 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1015;
    background-color: rgba(108, 109, 109, 0.7);
}


.modal__Content{

    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    max-width: 500px;
    height: auto;
    min-height: 530px;
    max-height: 90%;
    width: 100%;
    border-radius: 10px;
    animation: 1s ease 0s 1 normal none running eAJKHT;
    background: rgb(246, 248, 253);
}

@keyframes eAJKHT{

    0%{
    opacity: 0;
    transform: translate3d(-50%, calc(-50% - 100px), 0px);
    }
    100%{
        opacity: 1;
        transform: translate3d(-50%, -50%, 0px);
    }
}

#modal__Content-block{

    background-color: rgba(108, 109, 109, 0.7);
}

.modal__exit-block{

    z-index: 1012;
    background-color: lightgray;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    animation: 1.5s ease 0s 1 normal none running eAJKHT;
}

.modal__exit-none{

    display:none
}

.modal__exit p {
     
    display: inline-block;
    color: rgb(41, 43, 50);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 32px;
    overflow: hidden;
    margin-left:42px;
    display:inline-block;

}

.modal__exit__body{

    color: rgb(41, 43, 50);
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden auto;
    padding: 10px 20px;
}



.modal__exit__body span{

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 50px;
}


.modal__exit__footer button{

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 90%;
    background-color: rgb(246, 248, 253);
    color: rgb(0, 143, 180);
    border-radius: 160px;
    margin-bottom:10px;
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
    border-color: rgb(231, 235, 251);

}


#exit{
    border-color:  red;
    background-color: red;
    color: white;
}

.screens__Wrapper{

    position: relative;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(246, 248, 253);
    border-radius: 10px;
}

.screens__Wrapper--loading{

    position: absolute;
    display: block;
    width: 100%;
    height: 530px;
    background-color: rgba(108, 109, 109, 0.7);
    border-radius: 10px;
    z-index: 1010;
}

.screens__ProgressBar-page-photos{

    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0px;
    left: 0px;
    height: 6px;
    width: 100%;
    overflow: hidden;
    background: rgb(246, 248, 253);
}


.screens__ProgressBar-page-where:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(-83.3333%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;
}

.screens__ProgressBar-page-when:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(-66.6667%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;
}

.screens__ProgressBar-page-taskerOptions:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(-50%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;
}

.screens__ProgressBar-page-photos:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(-33.3333%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;
}

.screens__ProgressBar-page-anything:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(-16.6667%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;
}

.screens__ProgressBar-page-details:after{

    display: block;
    content: " ";
    height: 6px;
    width: 100%;
    transform: translateX(0%);
    background: rgb(125, 179, 67);
    transition: all 0.8s ease 0s;

}

.screens__button{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: unset;
    -webkit-box-align: center;
    align-items: center;
    align-self: unset;
    flex: 0 1 auto;
    margin: 16px 12px 8px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(41, 43, 50);
}

.screens__button svg {

    width:30px;
    height: 30px;
    border-radius: 50%;
    font-display: bold;
    position: absolute;
    top: 29px;
    right: 22px;
    color: white;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#screens__buttonSection__backwardButton{

    float: left;
    display:inline-block;
    background-color:rgb(246, 248, 253);
    color:black;
    width: 50px;
    height:50px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 1;
}

#screens__buttonSection__backwardButton:hover{

    color: rgb(0, 143, 180);
}

#screens__buttonSection__exitButton{

    float: right;
    background-color:rgb(246, 248, 253);
    width: 50px;
    height:50px;
    margin-right: 20px;
    margin-top: 10px;
}

#screens__buttonSection__exitButton svg:hover{

    color: rgb(0, 143, 180);
}


.screens__content{

    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: auto;
}

.screens__content__body{

    color: rgb(41, 43, 50);
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    padding: 10px 20px;
}

.screens__content__body__wrapper{

    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
}

.markDown__Wraped{

    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.markDown__Wraped h2 {
    font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
    font-weight: 300;
    color: #545a77;
}


.markdown__Content{
    text-align: center;
    width: 100%;
}


.markdown__Content span {
    font-size: 20px;
    text-align: left;
}


.markdown__Content img{

    width: 290px;
    height: 214px;
    align-self: center
    
}

.input-hover:hover{

   
    border: 2px solid rgb(0, 143, 180);
}

.input-where-block, 
.input-when-block, 
.input-anything-block, 
.input-details-block, 
.input-title-block{

    border: 2px solid rgb(231, 82, 69);
}

.input-where-block:hover{

    border-color: rgb(231, 82, 69);
}

.input-when-block:hover{

    border-color: rgb(231, 82, 69);
}
.input-anything-block:hover{

    border-color: rgb(231, 82, 69);
}
.input-details-block:hover{

    border-color: rgb(231, 82, 69);
}
.input-title-block:hover{

    border-color: rgb(231, 82, 69);
}


#errorBlock{
    color:red;
    margin:0;
    text-align: left;
}

.markdown__Content .checkBox{

    border: 3px solid grey;
    display: inline-block;
    float:left;
    padding: 0;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    cursor: pointer;
    border-color: rgb(84, 90, 119);
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    transition: box-shadow 0.2s ease 0s;
    position:relative;
}

.markdown__Content .checkBox:hover{

    border-color:rgb(0, 143, 180);
}

.checked-checked{

    display:block;
    color:rgb(0, 143, 180);
}

.checked-none{

    display:none;
}

.markdown__Content .checkBox svg{

    color: rgb(0, 143, 180);
    font-size: 12px; 
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1000;

}

#checkBox-list p{

    color: rgb(41, 43, 50);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    display:inline-block;
} 

.markdown__Content p{

    color: rgb(41, 43, 50);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    display:inline-block;
   
}

#needDay{

text-align: left;
display:block;
line-height: 60px;
}

#input-when p{

    position: absolute;
}

.screens__content__footer{

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 60px;
    padding: 0px 20px;
    border-top: 1px solid rgb(246, 248, 253);
}

.footer__button__Wrapper{

    max-width: 320px;
    width: 80%;
    margin: 0px auto;
}

.footer__button__Wrapper button{

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    background-color: rgb(125, 179, 67);
    border-radius: 160px;
    margin: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;
    padding: 8px 16px;
}

/* ///////////////////// Change Page Section....By id */

#page-common{

    flex-direction: column;
}

#page-common span{

    text-align: center;
}

#page-where{

    flex-direction: column;
}

#page-where span{

    margin:0;
    text-align: left;
}

#page-where input{

    margin-top: 10px;
    width: 260px;
    height: 40px; 
    float: left;
}

#page-when{

    flex-direction: column;
}

#page-when .checkBox{
    margin-top: 19px;
}

#page-when h3{
 
    display: inline-block;
    margin-top: 22px;
    margin-left: -250px;
   
   }

   #page-when span{
    float: left;
   }
   
   #page-when input{
       margin-top: 10px;
       width: 460px;
       height: 40px; 
       float: left;
   }

#page-taskerOptions{
    flex-direction: column;
}

#page-taskerOptions ul {
    list-style: none;
    padding-left: 0;
    
}

#page-taskerOptions li {
    padding: 5px;
    margin-left:0;
    padding-left: 0;
}


#page-taskerOptions .checkBox{
    margin: 0;
}

#page-taskerOptions p { 
    display: inline-block;
    margin-top: 1px;
    margin-left: -200px;
    text-align: start;
}


#page-photos{
    display: none;
    flex-direction: column;
    padding: 0x 0x 4px;
}

#page-photos input{
    height: 100px;
}

#page-anything{
    display: none;
    flex-direction: column;
    padding: 0x 0x 4px;
}

#page-anything span {

    font-size: 20px;
    margin-bottom: 15px;
}

#page-details{

    display: none;
    flex-direction: column;
    padding: 0x 0x 4px;
}

#page-details span{
    font-size: 17px;
    text-align: left;
} 


#input-details {

    margin-top: 10px;
}



/* Attribute setting section.................. */
.relative{

    position:relative;
}

.absolute{

    position:absolute;
}

.modal__exit__header .right{

    float: right;
    margin-right:20px;
    margin-top: 15px;
}.center{

    text-align: center;
}


#page-when #errorBlock{
    margin:0;
}

#page-anything #errorBlock{
    margin:0;
}

#page-details #errorBlock{
    margin:0;
}

@media (max-width: 440px){

    .markdown__Content img{
        margin-top: 10px;
    }
    .markDown__Wraped h3{
        font-size: 10px;
    }
    .markdown__Content span{
        font-size:  18px;
    }

    #page-when input{
        width: 250px;
    }
    #page-taskerOptions p{
        margin-left: -50px;
    }

    #page-anything span{
        font-size:  18px;
    }

    #page-details span{
        font-size:  15px;
    }

    .modal__exit p {
        padding:0;
    }
}




