.autocomplete-dropdown-container{

    display: block;
    margin-top:55px;
}

.autocomplete-dropdown-container p{

    display: block;
    text-align: left;
    margin:0;
}


#errorBlock{

    display: block;
    text-align: left;
    margin-top:55px;
}

#list{

    padding: 0;
    width: 400px;
    margin-left: 0;
    margin-top:-5.5px;    
    padding: 5px;
    color: rgb(0, 143, 180);
    border: 1px solid white;
    background-color:white;
    font-size:15px;
    cursor: pointer; 
    border-radius: 1px 1px 1px 1px;


}

#list:hover{

    color:black;
    font-size:13px;

}

#input-where{

    outline:none;
}