@media screen and (max-width: 900px){
        .secondary-menu-inner{
                width: calc(100% - 32px);
                overflow:visible;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-direction: row;
                flex-wrap: nowrap;
                 -webkit-box-align: center;
        }
        .task-menu-sub{
                display:none;
        }
        .open-tasks{
                position: relative;
                display:none;
        }
        .task-menu-sub:first-child{
                display: block;
        }
        .click-view-page{
                width: 100%;
                position: relative;
        }
        .menu-bar__item--dropdown:first-child {
                margin-top: 8px;
                border-top: 1px solid #f6f8fd;
        }
        .show-tasks-button{
                display: inline-block!important;
        }
}
.show-tasks-button.show{
        background:white;
}
.pill__icon {
        vertical-align: middle;
        display: inline-block;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        fill: #008fb4;
        background:white;
    }
    .pill__icon--active {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .menu-flyout {
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        background: #fff;
        width: 345px;
        -webkit-box-shadow: 0 5px 6px rgba(42,44,45,.2);
        box-shadow: 0 5px 6px rgba(42,44,45,.2);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: fadeInFromBelow .15s ease-out;
        animation: fadeInFromBelow .15s ease-out;
        border: 1px solid #bbc2dc;
        border-radius: 4px;
    }
    .menu-flyout:before {
        border-color: transparent transparent #bbc2dc;
        border-width: 9px;
        margin-left: -9px;
    }
    .menu-flyout:after, .menu-flyout:before {
        bottom: 100%;
        left: 24px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .menu-bar__item--dropdown {
        display: block;
        height: 51px;
        padding: 4px 8px;
        border-bottom: 1px solid #f6f8fd;
        width: 100%;
        text-align: left;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color .1s ease;
        -o-transition: background-color .1s ease;
        transition: background-color .1s ease;
    }
    .show-tasks-button{
            display: none;
    }
    .task-menu-sub{
            position: relative;
    }
    .active-second{
            display: block;
    }