
.secondary-menu {
        /* top: 57px; */
        width: 100%;
        font-weight: 500;
        transition: .4s 0ms;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        min-height: 37px;
        white-space: normal;
        position: relative;
}

.secondary-menu-inner {
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;
        text-transform: uppercase;
        position: relative;
}

.secondary-menu-inner .task-menu {
        list-style: none;
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 48px;
        padding-left: 0;
}

.task-menu .task-menu-sub {
        position: relative;
        margin-right: 8px;
        font-size: 0.75rem;
}

.task-menu .task-menu-sub:hover {
        background-color: #f6f8fd;
}

.task-menu .task-choice {
        color: #FD745C;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        padding: 0 8px 0 16px;
        overflow: hidden;
        max-width: 320px;
        font-size: 14px;
        border-radius: 8px;
        text-transform: none;
        background-color: transparent;
        opacity: 1;
        margin-right: 4px;
}

.secondary-menu-inner .search-input {
        position: absolute;
        right: 0px;
        top: 8px;
        display: inline-block;
        min-width: 200px;
}

.secondary-menu-inner .search-input_input:active,.secondary-menu-inner .search-input_input:focus{
        outline: none;
}
.secondary-menu-inner .search-input_input {
        box-shadow: none;
        text-indent: 12px;
        width: 100%;
        height: 32px;
        min-height: 32px;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 0 32px 0 0;
        overflow: hidden;
        font-size: 14px;
        margin: 0;
}
.secondary-menu-inner .search-input_input:focus{
        box-shadow: rgba(1,164,209,.29) 0 0 3px 2px;

}

.secondary-menu-inner .search-input_button {
        background: transparent;
        position: absolute;
        right: 16px;
        top: 8px;
        border: 0;
        margin: 0;
        height: 16px;
        width: 16px;
        line-height: 1;
        padding: 0;
        opacity: 0.3;
        ;
        transition: opacity .1s ease-out, fill .1s ease-out;
        cursor: pointer;
        outline: none;
        font-size: 1rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #bbc2dc;
}
/*TODO: FIX*/
/*input, textarea {*/
        /*font-size: 14px;*/
        /*font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;*/
        /*font-weight: 300;*/
        /*border: 1px solid #bbc2dc;*/
        /*background: #fff;*/
        /*-webkit-box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, .5);*/
        /*box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, .5);*/
        /*border-radius: 4px;*/
        /*min-height: 40px;*/
        /*padding: 14px 12px;*/
        /*-webkit-animation: shadowFadeIn .125s ease-in-out;*/
        /*animation: shadowFadeIn .125s ease-in-out;*/
        /*-webkit-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*-webkit-appearance: none;*/
        /*-moz-appearance: none;*/
        /*appearance: none;*/
/*}*/
