.view-tasks-page__frame {
    margin: 0 auto;
    margin-top: 56px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.view-tasks-page {
    margin: 0 auto;
    position: relative;
    margin-top: 56px;
    box-sizing: border-box;
}

.view-tasks-page__no-margin {
    margin-top: 0;
}

.view-tasks-page .view-tasks {
    overflow: hidden;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 106px);
}

.view-tasks-page .view-tasks {
    max-width: 1024px;
    margin: auto;
}

.open-tasks__allTasks {
    width: 364px;
    height: auto;
}

.click-view-page {
    width: 660px;
    height: auto;
}

.click-view-page img {
    width: 100%;
    height: 100%;
}

#page-and-screen-content {
    background-color: #F5F8FD;
}

#gmap_canvas {
    height: 100%;
    width: 660px;
}

.marker {
    background-image: url('../../../img/icon--mapMark.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    animation: pop-up .3s ease-in-out;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

.view-tasks-page .vertical-tasks-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    background-color: #F5F5F5;
}

.view-tasks-page .vertical-tasks-list::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.view-tasks-page .vertical-tasks-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.position-7 {
    top: 149px;
    left: -50px;
    z-index: -1;
}

.position-8 {
    top: 550px;
    left: 10px;
    z-index: -1;
}

.position-9 {
    top: 300px;
    left: 120px;
    z-index: -1;
}

.position-10 {
    top: 200px;
    left: 300px;
    z-index: -1;
}

.position-11 {
    top: 349px;
    left: -20px;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .view-tasks-page__frame {
        margin-top: 50px;
    }

    .view-tasks-page__frame .secondary-menu-inner {
        width: 100%;
    }

    .view-tasks-page .secondary-menu-inner {
        width: 100%;
    }

    .view-tasks-page__frame .secondary-menu-inner .task-menu .task-menu-sub {
        display: block;
    }

    .mapboxgl-map {
        display: none;
    }

    .open-tasks__allTasks {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .view-tasks-page__frame .secondary-menu-inner .search-input {
        display: block;
        top: 48px;
        left: 10px;
    }

    .view-tasks-page__frame .secondary-menu {
        height: 100px;
    }

    #typeMenu {
        left: -200px;
    }

    #priceMenu {
        left: -96px;
    }
}