/* Nav */
.nav-up{
    top:-70px;

}
.nav-down{
    top:0;
}

/* fade in */
.fade {
    visibility: hidden;
}

.fade-in {
    visibility: visible;
    animation: fade-in-bottom 1s cubic-bezier(.39, .575, .565, 1);
}


@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* zoom in */
.zoom {
    visibility: hidden;
}

.zoom-in {
    visibility: visible;
    animation: zoom-in-bottom 1s ease-in;
}

@keyframes zoom-in-bottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

/* slide in*/
.slide {
    visibility: hidden;
}

.slide-in {
    visibility: visible;
    animation: slide-in-bottom 1s ease-in;
}

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

/* customized  rule
    you can customized the animation by the following rule
    .effect-before{

    }
    .effect-after{
        animation: animation name/ duration/ function/ delay/iteration-count/ direction
    }
    @keyframe animation name{
        0%{opacity:0; transform:translateY(50px)}   this should be the original state
        100%{opacity:1; transform:translateY(0px)}  this should be the final state
    }
*/
