html {
    overflow-y: scroll;
}

body {
    font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
}

.App {
    text-align: center;
    font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
}

.divider{
    width: 100%;
    height: 0;
    margin: 10px 0;
    border: 1px solid #E5E5E5;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

img {
    width: 100%;
    height: auto;
}

body {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex--center{
    justify-content:center
}

.button-xs {
    background: radial-gradient(88% 1348% at 10.5% 0%, #FB317D 0%, #FD775C 100%);;
    border-radius: 200px;

    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: 27px;
    letter-spacing: .44px;
    line-height: 27px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 1px 1px #9a0137;
    padding: 0px 10px;
    transition: all .5s ease-in-out;
}

.button-xs--spacing {
    margin: 0 10px;
}

@font-face {
    font-family: museo_sans;
    font-display: fallback;
    src: url(./webfonts/museo/museosans_500-webfont.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

.img--full-size {
    width: 100%;
    height: auto;
}

.home h2 {
    color: #292b32;
    font-size: 32px;
}

.flex--vertical-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.relative {
    position: relative;
}

.clear-space {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.flex--space-between {
    justify-content: space-between !important;
}

.text--left{
    text-align: left;
}
.link--blue{
    color: #0C8CD5;
}

.text--blue {
    color: rgb(0, 143, 180);
}

.background--light-grey {
    background-color: rgb(246, 248, 253) !important;
}

button:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}

.width--full {
    width: 100%;
}

.button--green {
    background-color: rgb(125, 179, 67) !important;
    color: white !important;
}

.button {
    width: 100%;
    border: 2px solid rgba(41, 43, 50, .1);
    border-radius: 200px;
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
    transition: all .5s ease-in-out;
}

input, textarea {
    font-size: 14px;
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
    border: 1px solid #bbc2dc;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, .5);
    box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, .5);
    border-radius: 4px;

    padding: 14px 12px;
    -webkit-animation: shadowFadeIn .125s ease-in-out;
    animation: shadowFadeIn .125s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input {
    min-height: 40px;
}

textarea {
    min-height: 150px !important;
}

.background--blue {
    background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
}

.vertical-middle {
    vertical-align: middle;
}

a:focus, button:focus {
    outline: none;
}

.button-md {
    width: 50%;
    background-color: #bbc2dc;
    border: 2px solid rgba(41, 43, 50, .1);
    border-radius: 200px;
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
}

.button--red {
    background-color: #ff7e7e;
    color: white;
}

.color--red {
    color: red !important;
}

.color--blue {
    color: #008fb4!important;
}
.color--purple {
    color: #ff03ec;
}
.new-task-list-item--assign:before{
    background: #ff03ec!important;
}

.button--lg {
    padding: 0px 28px;
    background: radial-gradient(88% 1348% at 10.5% 0%, #FB317D 0%, #FD775C 100%);
    border-radius: 160px;
    color: white;
    font-size: 18px;
    height: 54px;
    transition: all .25s ease-in-out;
}

.button--lg:hover, .button-xs:hover {
    background-color: #08bdec;
}

.max-height-800{
    max-height: 800px;
    overflow: hidden;
}

.img--auto{
    width: auto;
    height: auto;
}

.divider--top{
    border-top: 1px solid #E5E5E5;
}

@media screen and (max-width: 780px) {
    .button--lg {
        height: auto !important;
        padding: 12px 14px !important;
        font-size: 12px !important;
    }
    .task--create .banner-bg{
        width: auto;
        height: 300px;
    }
}
